/* Add any minimal, necessary global base styles or CSS resets below */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    /* Light theme */
    --background: 0 0% 100%;            /* white */
    --foreground: 0 0% 0%;              /* black */

    --card: 0 0% 100%;                  /* white */
    --card-foreground: 0 0% 0%;         /* black */

    --popover: 0 0% 100%;               /* white */
    --popover-foreground: 0 0% 0%;      /* black */

    --primary: 0 0% 0%;                 /* black */
    --primary-foreground: 0 0% 100%;    /* white */

    --muted: 0 0% 90%;                  /* light gray */
    --muted-foreground: 0 0% 20%;       /* dark gray */

    --border: 0 0% 80%;                 /* medium gray */
    --input: 0 0% 80%;                  /* medium gray */
    --ring: 0 0% 0%;                    /* black */
    --radius: 0.5rem;
  }

  .bg-popover {
    background-color: hsl(var(--popover) / 1) !important;
  }


  .dark {
    /* Dark theme */
    --background: 0 0% 0%;              /* black */
    --foreground: 0 0% 100%;            /* white */

    --card: 0 0% 0%;                    /* black */
    --card-foreground: 0 0% 100%;       /* white */

    --popover: 0 0% 0%;                 /* black */
    --popover-foreground: 0 0% 100%;    /* white */

    --primary: 0 0% 100%;               /* white */
    --primary-foreground: 0 0% 0%;      /* black */

    --muted: 0 0% 20%;                  /* dark gray */
    --muted-foreground: 0 0% 80%;       /* light gray */

    --border: 0 0% 40%;                 /* medium gray */
    --input: 0 0% 40%;                  /* medium gray */
    --ring: 0 0% 100%;                  /* white */
  }

  .debug {
    --background: 300 100% 80%;
    --foreground: 120 100% 25%;
    --card: 200 100% 70%;
    --card-foreground: 0 0% 0%;
    --popover: 50 100% 70%;
    --popover-foreground: 0 0% 20%;
    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 100%;
    --muted: 280 100% 90%;
    --muted-foreground: 280 100% 20%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 120 100% 40%;
  }
}
